@import "../../styles/colors";
@import "../../styles/helpers";
@import "../../styles/mixins";

.contactCard {
  background-color: $white;
  max-width: 100%;
  margin: 0 20px;
  box-shadow: 0px 0px 60px 30px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @include respond-to(lg) {
    max-width: rem(1195);
    margin: auto;
    flex-direction: row;
  }

  @include respond-to(md) {
    padding: rem(5);
  }
}
