@import "../../styles/colors";
@import "../../styles/helpers";
@import "../../styles/mixins";

.radioWrapper {
  padding-right: rem(5);
  width: 45%;

  @include respond-to(md) {
    padding-right: rem(20);
  }
}

.labelText {
  color: $black;
  font-style: normal;
  font-weight: 400;
  font-size: rem(12);
  line-height: rem(20);
  padding-left: rem(25);
  cursor: pointer;
}

.radioButton {
  position: absolute;
  width: 0;
  height: 0;
  cursor: pointer;

  &:before {
    content: "";
    display: inline-block;
    position: relative;
    top: 4px;
    width: 14px;
    height: 14px;
    background-color: $lightSilver;
    border-radius: 50%;
    margin-right: 8px;
  }

  &:checked:before {
    content: "✔";
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $black;
    color: white;
    width: 14px;
    height: 14px;
    font-size: rem(8);
    border: none;
  }
}
