@import "../../styles/helpers";
@import "../../styles/colors";

.iconItem {
  margin-right: rem(24);
}

.circleIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: rem(31);
  height: rem(31);
  border-radius: 50%;
  border: 1px solid $darkGray;
  background-color: $darkGray;
}

.socialIcon {
  color: $white;
}

.iconItem {
  &:hover {
    .circleIcon {
      border: 1px solid $white;
      background-color: $white;
    }

    .socialIcon {
      color: $black;
    }
  }
}
